<footer class="background-1" itemscope itemtype="http://schema.org/LocalBusiness">
    <div class="row">
        <div class="small-12 medium-6 columns">
            <h4 itemprop="name">Company Name</h4>
            <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                <span itemprop="streetAddress">3102 Highway 98</span> <br />
                <span itemprop="addressLocality">Mexico Beach</span>,
                <span itemprop="addressRegion">FL</span>
                <span itemprop="postalCode">94086</span>
            </div>
            <div>
                Phone: <span itemprop="telephone">850-648-4200</span>
            </div>
            <div>
                Fax: <span itemprop="faxNumber">850-648-4200</span>
            </div>
        </div>
        <div class="small-12 medium-6 columns">
            <meta itemprop="openingHours" content="Mo-Fr 11:00-14:30">
            <meta itemprop="openingHours" content="Sa 17:00-21:30">
            <dl>
                <dt>Mon-Fri</dt>
                <dd>7:30am - 5:30pm</dd>
                <dt>Saturday</dt>
                <dd>8:00am - 4:00pm</dd>
                <dt>Sunday</dt>
                <dd>Closed</dd>
            </dl>
        </div>
    </div>
</footer>