body {
    background-color:#000;
    background-repeat: no-repeat;
    background-size: cover;
}

.breadcrumbs {
    display: none;
}

@media only screen and (min-width: 1000px) {
    body {
        background-image: url(images/wallpaper2.jpg);
    }

    .breadcrumbs {
        display:block;
    }
}

#ContentWrapper {
    background-color:rgba(255, 255, 255, 1);
    margin-top:10px;
    margin-bottom:10px;
    border-radius:10px;
}

label.checkbox { display: inline; }
hr.dotted { border-style: dashed; }
.pad { margin: 7px; }
.orbit-container { border: 1px solid #000; }

a.carousel-product { background-color:#000; display:block;}
.carousel-product .photo { padding:25px inherit; text-align:center; }
.carousel-product .photo img { display:inline; }
.carousel-product .info { font-weight:700; text-align:center; padding:5px; }
.carousel-product .info .name { color:#fff; }
.carousel-product .info .price { color:#f00; }

a.grid-product { display: block; }
.grid-product .info { background-color:#ddd; padding:3px; }
.grid-product .info .name {  }
.grid-product .info .price { color:#f00; }





.background-1 { 
    background-color: #008CBA; 
    padding: 5px;
    color: #fff;
}

.background-1 h1, .background-1 h2, .background-1 h3, .background-1 h4, .background-1 h5, .background-1 h6, .background-1 div {
    color: #fff;
}


.background-2 { 
    background-color: #333333; 
    padding: 5px;
    color:#666;
}


.background-3 {
    background-color: #47D4FF;
}




/* Centered inline lists*/
ul.centered-inline-list { list-style-type: none; text-align: center; }
ul.centered-inline-list li { display: inline-block; }
ul.centered-inline-list li {
    font-weight:700;
    text-transform: uppercase;
}
ul.centered-inline-list li a { 
    color: #666;
    padding: 3px 6px; 
}
ul.centered-inline-list li a:hover { 
    color: #777;
}

/* Sitemap lists*/
.sitemap ul li {
    list-style: none;
}