@{
    ViewBag.Title = "Services";
}

@section aside{
    <h3>Services</h3>
    @Html.Ipsum().ul(listCount : 3, wordCount : 2, links : true)
}

<h2>Services</h2>
@Html.Ipsum().p(3)

@Html.Action("ImageList", "Image")