@{
    Layout = "~/Views/Layouts/Default/_asideLayout.cshtml";
}

@section aside{
    @Html.Placehold(300, 100)
    
    <h3>Services</h3>
    @Html.Ipsum().ul(listCount : 3, wordCount : 2, links : true)
    <h3>Parts</h3>
    @Html.Ipsum().ul(listCount : 8, wordCount : 2, links : true)
}

<div class="row">
    <div class="large-12 columns">
        
    </div>
</div>
