@{
    ViewBag.Title = "Gallery";
}


@section aside{
    <h3>Our Work</h3>
    @Html.Ipsum().ul(listCount : 3, wordCount : 2, links : true)
}

<h2>Gallery</h2>


<blockquote>
    @Html.Ipsum().p(1)
    <cite>Happy Customer</cite>
</blockquote>

@Html.Action("ImageGrid", "Image")