<nav class="breadcrumbs">
    <a href="#">Home</a>
    <a href="#">@Html.Ipsum().Words(1)</a>
    <a class="unavailable" href="#">@Html.Ipsum().Words(1)</a>
    <a class="current" href="#">@Html.Ipsum().Words(1)</a>
</nav>